* {
  text-align: center;
}

input {
  width: 100%;
  font-size: 30px;
  border-width: 0;
  outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input {
  -moz-appearance: textfield;
}

.problem {
  display: flex;
  display: flex;
  justify-content: center;
}

.operation {
  color: rgb(0, 255, 255);
}

.r-index {
  font-size: 15px;
  align-self: flex-start;
}

.r-radicand {
  text-decoration: overline;
  text-decoration-color: rgb(0, 255, 255);
}

.space {
  margin-inline: 10px;
}

